
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.navBar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
}