.contains{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 160vh;
    height: 4vh;
}

.Link{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: rgb(251, 255, 0);
}