.contains{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
    width: 170vh;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: #0f33aa;
    border-radius: 10%;
    box-shadow: 0px 0px 10px 2px #243fbb;
    height: 90%;
    z-index: 100;
}

.paginate{
    display: flex;
    flex-direction: row;
    justify-content: row;
    align-items: flex-end;
    border-top: 50px;
    padding-top: 50px;
    background: #000000;
    box-shadow: 0px 0px 10px 2px #000000;
    height: 5%;
    width: 100%;
}