.contains{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

.number{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(251, 255, 0);
    margin-left: 10%;
    margin-right: 10%;
}

.button{
    display: inline-block;
    padding: 5px 5px 5px 5px;
    text-align: center;
    background-color: rgb(107, 102, 102);
    color: rgb(0, 0, 0);
    border: 5px double rgb(78, 78, 78);
    border-radius: 80%;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(196, 196, 33);
    border: 5px double rgb(255, 0, 0);
}

.buttonDistance{
    margin: 0 5%;
}