.contains{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #20a9d3;
    box-shadow: 0px 0px 10px 2px #25b0da;
    height: 850px;
    width: 90%;
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 10%;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 100px 50px 100px;
    width: 50%;
    background: rgb(126, 47, 16);
    border-radius: 10%;
    box-shadow: 0px 0px 10px 2px rgb(78, 27, 7);
}

.form h2{
    color: rgb(16, 199, 32);
}

.form label{
    color: rgb(16, 199, 32);
}

.form input{
    background: rgb(126, 47, 16);
    color: rgb(16, 199, 32);
}

.form select{
    background: rgb(126, 47, 16);
    color: rgb(16, 199, 32);
}

.tag{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(16, 199, 32);
}

.button{
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
    background: rgb(126, 47, 16);
    color: rgb(16, 199, 32);
}