.contains{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #20a9d3;
    box-shadow: 0px 0px 10px 2px #25b0da;
    height: 850px;
    width: 1536px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 100px 50px 100px;
    width: 50%;
    background: rgb(126, 47, 16);
    border-radius: 10%;
    box-shadow: 0px 0px 10px 2px rgb(78, 27, 7);
}

.form h2{
    color: rgb(16, 199, 32);
}

.form label{
    color: rgb(16, 199, 32);
}

.form input{
    background: rgb(126, 47, 16);
    color: rgb(16, 199, 32);
}

.form select{
    background: rgb(126, 47, 16);
    color: rgb(16, 199, 32);
}

.tag{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(16, 199, 32);
}

.button{
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
    background: rgb(126, 47, 16);
    color: rgb(16, 199, 32);
}

.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(97, 3, 3);
}

@media screen and (max-width: 1536px) {
    .contains{
        width: 1280px;
    }
    .form{
        width: 50%;
    }
}

@media screen and (max-width: 1280px) {
    .contains{
        width: 768px;
    }
    .form{
        width: 50%;
    }
}

@media screen and (max-width: 768px){
    .contains{
        width: 640px;
    }
    .form{
        width: 50%;
    }
}

@media screen and (max-width: 640px) {
    .contains{
        width: 475px;
    }
    .form{
        width: 25%;
    }
    .form select{
        width: 65%;
    }
    .form h2{
        font-size: 100%;
    }
    .form label{
        font-size: 100%;
    }
}

@media screen and (max-width: 475px) {
    .contains{
        width: 100%;
    }
    .form{
        width: 25%;
    }
    .form select{
        width: 65%;
    }
}