.contains{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
    width: 22vh;
    background: #000000;
    box-shadow: 0px 0px 10px 2px #00020a;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options label{
    color: rgb(251, 255, 0);
    background-color: transparent;
}

.options select{
    color: rgb(251, 255, 0);
    background: #000000
}